<body>

    

    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>Zenith Academy East</h1>
          <a class="btn-primary" href="#">Get started</a>
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">
            <h2>Learn</h2>
            <p>We work hard in providing the right environment .</p>
            <a class="btn-default" href="#">Learn more</a>
          </div>
          <div class="col-md-4">
            <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
            <h2>Plan</h2>
            <p>Lt'es worrk together to plan our children future.</p>
            <a class="btn-default" href="#">Learn more</a>
          </div>
          <div class="col-md-4">
            <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">
            <h2>Succeed</h2>
            <p>Success comes after details planning and hard work. We can make it happen.</p>
            <a class="btn-default" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

   


</body>